@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}
/* this code for root color */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

/* this code for html transition */
html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
/* this method for html background color */
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
/* this code for body styling */
body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* this method for toggle styling */
.toggle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;

}
/* this method for focus toggle  */
.toggle:focus{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
/* this method for clock element */
.clock{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}
/* this code for needle element styling */
.needle{
   background-color: var(--primary-color);
   position: absolute;
   top: 50%;
   left: 50%;
   height: 65%;
   width: 3px;
   transform-origin: bottom center; 
}